{% extends 'base.html' %}

{% block title %}Homework Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mt-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">Homework Details</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Subject: {{ homework.subject }}</h5>
                    <p class="card-text">Description: {{ homework.description }}</p>
                    <p class="card-text">Due Date: {{ homework.due_date }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
